{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-wrapper">
                <div class="text-center">
                    <h1>Welcome to Contify</h1>
                    <h3>Sign Up</h3>
                </div>
                <div class="space-40"></div>
                <form method="post" action=".">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="space-20"></div>                        
                    <div class="text-center">
                        <input class="btn btn-default btn-primary" type="submit" id="register" value="register" />
                    </div>
                </form>
                <div class="text-center">
                    <div class="space-40"></div>
                    <hr>
                    <div class="space-30"></div>
                    <p>Already a Contify user? Log in <a href="/">here</a>.</p>
                    <div class="space-30"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


